html, body {
	margin: 0 !important; /* Ustawia obszar marginesu */
	padding: 0 !important; /* Ustawia obszar wypełnienia na wszystkich bokach */
}

#main {
	display: grid; /* Określa układ elementów grid */
	grid-template-columns: 25vw auto 25vw; /* Definiuje linie i funckje rozmiaru ścieżki w kolumnach siatki */
	grid-template-rows: 15vh 10vh 65vh 10vh; /* Definiuje nazwy linii i funkcje rozmiaru ścieżki w wierszach siatki */
}

#logo {
	background: green;  /* Określa kolor na elemencie */
	grid-row: 1; /* Określa rozmiar i położenie siatki */
	grid-column: 1; /* Określa rozmiar i położenie siatki */
}

#title {
	background: yellow;
	grid-row: 1;
	grid-column: 2;
}

#login {
	background: orange;
	grid-row: 1;
	grid-column: 3;
}

#nav {
	background: red;
	grid-row: 2;
	grid-column: 1 / 4;
}

#submenu {
	background: blue;
	grid-row: 3;
	grid-column: 1;
}

#content {
	background: gray;
	grid-row: 3;
	grid-column: 2;
	display: block;
	overflow-y: auto;
	grid-template-columns: repeat(3, 1fr);
}
#col1 {
	grid-column: 1;
}

#col2 {
	grid-column: 2;
}

#foot {
	background: lightgray;
	grid-row: 4;
	grid-column: 1 / 4;
}

.button {
	position: relative;
	z-index: 1;
	
	text-align: center;
	border: solid yellow 1px;
}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: gray;
}

.button:hover {
	cursor: pointer;
}


.button:hover::before{
	opacity: 0.6;
}

figure.galeria img {
	width: 100%; /* Ustawia szerokość elementu */
	height: auto; /* Ustawia wysokość elementu */
}
