<figure class="galeria"> <!-- Niezależna treść z podpisem  -->
	<img alt="TU POWINIEN BYĆ OBRAZEK" src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cee-nordics/pl/support/support-v3/mobileservices/themes/themes-2.png"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption> <!-- Reprezentuje podpis opisującą zawartość elementu <figure> -->
</figure>
<figure class="galeria"> <!-- Niezależna treść z podpisem  -->
	<img alt="" src="./img/img2.jpg"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption> <!-- Reprezentuje podpis opisującą zawartość elementu <figure> -->
</figure>
