<!--<form method="post" action="./php/main.php">-->
<div id="form">
	<style>
		input[name="name"] {
			border-color: orange;
		}
	</style>
	<p><input type="text" name="name" placeholder="Podaj swoje imię"/></p> <!-- Określa pole wejściowe, które użytkownik może wprowadzić dane -->
	<p><input type="text" name="lastname" placeholder="Podaj swoje nazwisko"/></p> <!-- Określa pole wejściowe, które użytkownik może wprowadzić dane -->
	<p><input type="email" name="email" placeholder="Podaj swój email"/></p> <!-- Określa pole dla adresu email -->
	<p><textarea name="content" placeholder="Wpisz treść"></textarea></p> <!-- Określa pole edycji dla tekstu  -->
	<fieldset>
		<legend>Twoja płeć</legend>
		<p><input type="radio" name="sex" value="k"/><span>Kobieta</span></p> <!-- Określa pole wyboru dla użytkownika, użytkownik może wybrać tylko jeden przycisk opcji -->
		<p><input type="radio" name="sex" value="m"/><span>Mężczyzna</span></p> <!-- Określa pole wyboru dla użytkownika, użytkownik może wybrać tylko jeden przycisk opcji -->
		<p><input type="radio" name="sex" value="n" checked="checked"/><span>Nieokreślona</span></p> <!-- Określa pole wyboru dla użytkownika, użytkownik może wybrać tylko jeden przycisk opcji -->
	</fieldset>
	<button>Wyślij zapytanie</button> <!-- Przycisk, używany do przesyłania formularza -->
</div>
<div id="output">

</div>

<!--</form>-->